{% extends "basic/header.html" %}

{% block content %}
<div class = "container">
    <div class = "jumbotron">
        <h1 class = "text-center">myADVISE</h1>
        <p class = "text-center">This app makes student schedules.</p>

        <p>
            <a class = "btn btn-primary btn-lg col-md-2 col-md-offset-2" role = "button">Button1</a>
            <a class= "btn btn-primary btn-lg col-md-2 col-md-offset-1" data-toggle="modal" data-target="#login-modal">Login</a>
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                	  <div class="modal-dialog">
            				<div class="loginmodal-container">
            					<h1>Login to Your Account</h1><br>
            				  <form>
            					<input type="text" name="user" placeholder="Username">
            					<input type="password" name="pass" placeholder="Password">
            					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
            				  </form>

            				  <div class="login-help">
            					<a href="#">Register</a> - <a href="#">Forgot Password</a>
            				  </div>
            				</div>
            			</div>
            </div>
            <a class = "btn btn-primary btn-lg col-md-2 col-md-offset-1" role = "button">Button3</a>
        </p>
    </div>
</div>
{% endblock %}
