{% extends "basic/header.html" %}

{% block content %}
<div class = "container">
    <div class = "jumbotron">
        <h1 class = "text-center">myADVISE</h1>
        <p class = "text-center">This app helps students make schedules.</p>

        <p>
            <a class = "btn btn-primary btn-lg text-left" role = "button">Learn more!</a>
            <a class = "btn btn-primary btn-lg text-center" role = "button">Learn more!</a>
            <a class = "btn btn-primary btn-lg text-right" role = "button">Learn more!</a>
        </p>
    </div>
</div>
{% endblock %}
