<!DOCTYPE html>
<html lang="en">
<head>

  <title>myADVISE</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap Core CSS -->
  {% load staticfiles %}
  <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}" type='text/css'/>
  <style>
      body {
          padding-top: 70px;
          /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
      }
  </style>
</head>
{% block content %}

<div class="container" style="padding-top: 25px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class"text-center">
                            <p>Create Account</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" action="" method="post" role="form">
                                {% csrf_token %}

                                <div class="form-group">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>

                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>

                                <div class="form-group">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>

                                <div class="form-group">
                                    {{ form.major.label_tag }}
                                    {{ form.major }}
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter Info To Sign Up!</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="">
                      {% csrf_token %}

                        <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.email.label_tag }}</td>
                                    <td>{{ form.email}}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                        </p>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="Submit" />
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}
</html>
