{% extends "basic/header.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!--USER INFO PANEL-->
        <div class="col-sm-4">
            <div class="jumbotron" style="min-height: 750px">
                <h2>{{ currentUser.username }}</h2>
                <h4>Major: {{ major.major }}</h4>
                <!-- Display a scrollable text field representing schedule -->
                <div class="well well-sm pre-scrollable">
                {% for key, CourseName in CourseDict.items %}
                <h5>{{ key }}</h5>
                {% for Day, Hour in CourseName.items %}
                <h5>{% if Day == 'H'%}
                    Th: {{ Hour }}
                    {% elif Day == 'TH' %}
                    TTh: {{ Hour }}
                    {% else %}
                    {{ Day }}: {{ Hour }}
                    {% endif %}
                </h5>
                {% endfor%}
                {% endfor %}
                </div>
                <!-- Options to edit account info -->
                <div class="text-center" style="padding-top: 80px">
                    <button class="btn btn-register btn-block" data-toggle="modal" data-target="#editModal">Edit Info</button>
                </div>
                <div class="text-center" style="padding-top: 20px">
                    <button class="btn btn-register btn-block" data-toggle="modal" data-target="#majorModal">Change Major</button>
                </div>
            </div>
        </div>

        <!--SCHEDULE PANEL-->
        <div class="col-sm-8">
            <div class="jumbotron" style="min-height: 750px">
                <h2>Current Schedule</h2>
                <!--Displays a place holder if the user has not created a schedule yet -->
                {% if major.schedule == none %}

                    <h4>You have no schedule, please generate one from the homepage.</h4>
                    <div class="text-center">
                        <h1 class="glyphicon glyphicon-calendar" style="font-size: 400px"></h1>
                    </div>

                {% else %}
                 <!--Displays the user schedule -->
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, CourseName in CourseDict.items %}
                            {% for Day, Hour in CourseName.items%}
                            <tr>
                                <td>
                                    {% if 'M' in Day %}{{ key }}{% endif %}
                                </td>
                                <td>
                                    {% if 'T' in Day %}{{ key }}{% endif %}
                                </td>
                                <td>
                                    {% if 'W' in Day %}{{ key }}{% endif %}
                                </td>
                                <td>
                                    {% if 'Z' in Day %}{{ key }}{% endif %}
                                </td>
                                <td>
                                    {% if 'F' in Day %}{{ key }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                    </table>

                {% endif %}

                <h3>Flight Plan Progress</h3>
                <div class="text-center">
                    <div class="progress">
                     <!--Displays calculations for the progress bar-->
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{progressTotal}}%">
                            {{ progressTotal }}% Complete
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--EDIT INFO MODAL-->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Preferences</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/profile/" method="post" role="form">
                    {% csrf_token %}
                    <!-- Allow the user to choose their desired credit hours -->
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CreditHours">Desired Credit Hours (12-18): </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="CreditHours" name="CreditHours">
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                            </select>
                        </div>
                    </div>

                    <!-- Allow the user to choose their desired time-frame for scheduling -->
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="DesiredHours">Desired Hours: </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="DesiredHours" name="DesiredHours">
                                <option>Don't Care</option>
                                <option>Before Noon</option>
                                <option>After Noon</option>
                            </select>
                        </div>
                    </div>

                    <!-- No time for time preferences -->
                    <!--<div class="form-group">
                        <label class="control-label col-sm-4" for="DesiredHours">Desired Hours: </label>
                        <div class="col-sm-8">
                            <select multiple class="form-control" id="DesiredHours" name="DesiredHours">
                                <option>8:00 AM</option>
                                <option>9:00 AM</option>
                                <option>10:00 AM</option>
                                <option>11:00 AM</option>
                                <option>12:00 PM</option>
                                <option>1:00 PM</option>
                                <option>2:00 PM</option>
                                <option>3:00 PM</option>
                                <option>4:00 PM</option>
                                <option>5:00 PM</option>
                                <option>6:00 PM</option>
                                <option>7:00 PM</option>
                                <option>8:00 PM</option>
                            </select>
                        </div>
                    </div>-->

                    <button type="submit" name="EditSubmit" id="EditSubmit" class="btn btn-success">Apply Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- CHANGE MAJOR MODAL -->
<div id="majorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Major</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/profile/" method="post" role="form">

                    <div class="form-group">
                    {% csrf_token %}
                    <!-- Allow user to choose their new desired major -->
                        <label class="control-label col-sm-4" for="DesiredHours">New Major: </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="NewMajor" name="NewMajor">
                                <option>BE</option>
                                <option>CHE</option>
                                <option>CE</option>
                                <option>CECS</option>
                                <option>ECE</option>
                                <option>IE</option>
                                <option>ME</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" name="MajorSubmit" id="MajorSubmit" class="btn btn-success" value="Apply Changes">Apply Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
