{% extends "basic/header.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
      <form id="update-form" action="" method="post" role="form">
        {% csrf_token %}
        {% for semester in FlightPlan.semesters %}
        <h5>{{semester.id}}</h1>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Course Title</th>
                <th>Units</th>
                <th>Subject</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for classes in semester.classes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{classes.course}}</td>
                <td>{{classes.cr}}</td>
                <td>{{classes.subject}}</td>
                {% if classes.complete == True %}
                  <td><input type="checkbox" value="1" checked></td>
                {% else %}
                  <td><input type="checkbox" value="1"></td>
                {% endif %}
            </tr>
            {% endfor%}
        </tbody>
        </table>
{% endfor %}
<div class="col-xs-6">
    <input type="submit" name="update-submit" id="update-submit" tabindex="4" class="form-control btn btn-register" value="Update Classes">
</div>
</form>
    </div>
</div>
<script>
$(document).ready(function(){
    $('table.table-bordered tbody tr').on('click', function () {
        $(this).find('input[type=checkbox]').click();
      });
  });
</script>
{% endblock %}
